body {
    /*background-color: #000000;*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*nav*/
.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 10px 20px;*/
    background-color: #000000;
    color: white;
    height: 70px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 85%;
    /*padding: 10px;*/
    gap: 30px;
}

.navbar img {
    width: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-family: "IM Fell French Canon", serif;
    font-size: 18px;
}

/*fim nav*/

/*cadastro*/