body {
    margin: 0px;
    padding: 0px;
    height: 80vh;
    box-sizing: border-box;
    background-image: url(../IMAGENS/cadastro2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.topo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    margin-top: 10px;
    height: 70px;
}

.topo ul{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 150px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 15vw;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);

    font-size: 20px;
}

.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cadastro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    height: 55vh;
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    border-radius: 20px;
}

.campoEmail, .campoSenha, .campoNome {
    width: 70%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

#input_email, #input_senha, #input_nome{
    margin-top: 6px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
}

.conteudo input{
    color: white;
}

.botao{
    margin-top: 6px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}

.botao button{
    background: transparent;
    border: none;
    font-size: 18px;
    color: white;
}