body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

/* banner*/
.banner {
    position: relative;
    width: 100%;
    height: 85vh; 
    overflow: hidden;
}

.banner video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: brightness(40%);
}

.fundoBanner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fundoBanner video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: brightness(40%);
}

.navegacao, .tituloBanner, .texto_banner {
    position: relative;
    z-index: 5;
}

.navegacao{
    display: flex;
    justify-content: flex-end;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 50%;
    margin-right: 40px;
    z-index: 1;
}

a {
    text-decoration: none;
    color: white;
    font-family: "IM Fell French Canon", serif;
    font-size: 25px;
}

.tituloBanner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 35px;
    color: white;
    margin-left: 30px;
    font-size: 40px;
}

.texto_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: white;
    font-size: 30px;
}
/* fim banner*/

/* conteudo */

.titulo {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

hr{
    width: 80%;
}

.oqueE{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 430px;
    margin-top: 60px;
}

.oqueE img{
    width: 500px;
    border-radius: 20px;
}

.tituloAparelho {
    display: flex;
    justify-content: center;
    
}
.aparelhos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 500px;
}

.fita, .arco, .corda, .maças, .bola{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 200px;
    height: 320px;
    border-radius: 15px;
}

.fita:hover, .arco:hover, .corda:hover, .maças:hover, .bola:hover{
    filter: brightness(40%);
}

.fita{
    background-image: url(../IMAGENS/aparelhoFita\ \(2\).jpg);
    background-size: cover;
}


.arco{
    background-image: url(../IMAGENS/aparelhoArcoCorte.jpg);
    background-size: cover;
}

.corda{
    background-image: url(../IMAGENS/aparelhoCorda.jpeg) ;
    background-size: cover;
}

.maças{
    background-image: url(../IMAGENS/aparelhosMaça.jpeg);
    background-size: cover;
}

.bola{
    background-image: url(../IMAGENS/aparelhoBolaCorte.jpg);
    background-size: cover;
}

.evolucao{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 430px;
    margin-top: 60px;
}

.evolucao img{
    width: 500px;
    border-radius: 20px;
}

.brasil{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 430px;
    margin-top: 60px;
}

.brasil img{
    width: 500px;
    border-radius: 20px;
}

.euEAGinastica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.euEAGinastica p{
    text-align: center;
    width: 65%;
}

.euEAGinastica .imagem img{
    width: 500px;
    border-radius: 20px;
}


.euEAGinastica .imagem{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}




/*linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255));*/

