body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

/* banner*/
.banner {
    position: relative;
    width: 100%;
    height: 85vh; 
    overflow: hidden;
}

.fundoBanner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: brightness(40%);
}

.fundoBanner video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: brightness(40%);
}

.navegacao, .tituloBanner, .texto_banner {
    position: relative;
    z-index: 5;
}

.navegacao{
    display: flex;
    justify-content: flex-end;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 50%;
    margin-right: 40px;
    z-index: 1;
}

a {
    text-decoration: none;
    color: white;
    font-family: "IM Fell French Canon", serif;
    font-size: 25px;
}

.tituloBanner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 35px;
    color: white;
    margin-left: 30px;
    font-size: 40px;
}

.texto_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: white;
    font-size: 30px;
}
/* fim banner*/

/* conteudo */

.titulo {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

hr{
    width: 80%;
}

.oqueE{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 430px;
    margin-top: 60px;
}

.oqueE p{
    width: 500px;
    font-size: 18px;
    line-height: 28px;
}

.oqueE img{
    width: 500px;
    border-radius: 20px;
}

.maisSobre{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 430px;
    margin-top: 60px;
}

.maisSobre p{
    width: 500px;
    font-size: 18px;
    line-height: 28px;
}

.maisSobre img{
    width: 500px;
    border-radius: 20px;
}

.tituloAparelho {
    display: flex;
    justify-content: center;
    
}
.aparelhos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 320px;
}

.fita, .arco, .corda, .maças, .bola{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 200px;
    height: 320px;
    border-radius: 15px;
}

.fita{
    background-image: url(IMAGENS/aparelhoFita\ \(2\).jpg);
    background-size: cover;
}


.arco{
    background-image: url(IMAGENS/aparelhoArcoCorte.jpg);
    background-size: cover;
}

.corda{
    background-image: url(IMAGENS/aparelhoCorda.jpeg) ;
    background-size: cover;
}

.maças{
    background-image: url(IMAGENS/aparelhosMaça.jpeg);
    background-size: cover;
}

.bola{
    background-image: url(IMAGENS/aparelhoBolaCorte.jpg);
    background-size: cover;
}

.legendaAparelhos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    width: 100%;
    font-size: 30px;
}

.algunsMarcos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: flex-start;
    width: 100%;
    height: 430px;
    margin-top: 70px;
}

.algunsMarcos p{
    width: 650px;
    font-size: 18px;
}

.algunsMarcos img{
    width: 550px;
    margin-top: 30px;
    border-radius: 20px;
}

.evolucao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: flex-start;
    width: 100%;
    height: 600px;
    margin-top: 70px;
}

.evolucao p{
    width: 500px;
    font-size: 18px;
}

.evolucao img{
    width: 550px;
    margin-top: 100px;
    border-radius: 20px;
}

.brasil{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 430px;
    margin-top: 60px;
}

.brasil p{
    width: 500px;
    font-size: 18px;
    line-height: 28px;
}

.brasil img{
    width: 500px;
    border-radius: 20px;
}

.euEAGinastica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.euEAGinastica p{
    display: flex;
    text-align: flex-start;
    width: 57%;
    font-size: 18px;
    line-height: 28px
}

.euEAGinastica .imagem img{
    width: 500px;
    border-radius: 20px;
}


.euEAGinastica .imagem{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.euEAGinastica .legendas {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    width: 100%;
}

.euEAGinastica .legendas h3{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    width: 100%;
}

.maisConquistas {
    display: flex;
    justify-content: center;
}

.fotos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 320px;
}

.imagemVertical{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.imagemVertical img {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

.imagemVertical p{
    font-size: 20px;
}



/* .imagemVertical2 p{
    font-size: 20px;
}

.imagemVertical3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.imagemVertical3 img{
    width: 160px;
    height: 300px;
    border-radius: 15px;
}

.imagemVertical3 p{
    font-size: 20px;
} */

/* .imagemVertical4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.imagemVertical4 img{
    width: 160px;
    height: 300px;
    border-radius: 15px;
}

.imagemVertical4 p{
    font-size: 20px;
} */

/*.imagemVertical1, .imagemVertical2, .imagemVertical3, .imagemVertical4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 200px;
    height: 320px;
    border-radius: 15px;
}

.imagemVertical1 {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.imagemVertical2 {
    background-image: url(IMAGENS/fotoVertical2.jpeg);
    background-size: cover;
}

.imagemVertical3 {
    background-image: url(IMAGENS/fotoVertical3.jpeg);
    background-size: cover;
}

.imagemVertical4 {
    background-image: url(IMAGENS/fotoVertical4.jpeg);
    background-size: cover;
}

.legendaVerticais {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    width: 100%;
    font-size: 20px;
}

.legendaVerticais .realizacao {
    margin-left: 30px;
}

.legendaVerticais .amor {
    margin-left: 60px;
}

.legendaVerticais .parceria {
    margin-left: 90px;
}

.legendaVerticais .representatividade {
    margin-left: 80px;
}*/

/*linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255));*/

